.info-header {
    font-size: 2vw;
    color: #00ADB5;
}

.info-text {
    font-size: 1vw;
    color: #EEEEEE;
}

.links {
    transition: all 0.5s;
    cursor: pointer;
    display: block;
    margin: 1% auto;
    text-align: center;
    font-size: .8vw;
    width: 20%;
    border: #EEEEEE 2px solid;
    border-radius: 1vw;
}

.media {
    border: none;
    width: 650px;
    height: 350px
}

.song-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background:
            repeating-linear-gradient(
                    to top left,
                    beige 0,
                    beige 2em,
                    moccasin 2em,
                    moccasin 4em,
                    wheat 4em,
                    wheat 6em
            ),
            repeating-linear-gradient(
                    to left,
                    white 0,
                    white 2em,
                    wheat 2em,
                    wheat 4em,
                    beige 4em,
                    beige 6em
            ), white;

    background-blend-mode: multiply;
    animation: fade 1s forwards .5s;
}

@keyframes fade {
    from {opacity: 1}
    to {opacity: 0;
        display: none;
    }
}

#title-background {
    display: block;
    margin: auto;
    width: 70%;
    border-radius: 1cm;
    box-shadow: 0 0 40px #393E46;
    filter: blur(1px)
}

#icon {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    width: 10%;
    z-index: 1;
}

#title {
    position: absolute;
    left: 50%;
    top: 12%;
    transform: translateX(-50%);
    font-size: 5vw;
    background-image: linear-gradient(to right, #7BD3EA, #00ff95);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#hitokoto {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2vw;
    font-family: "楷体", sans-serif;
    text-shadow: 0 0 1vh black;
}
